.container2{
    padding-top:0px;
    padding-left:14rem;
}
.text-week{
    color:#8672d1;
    font-weight:600;
    font-size:14px;
}
.i.gift{
    color:white;
    background-color:#8672d1 ;
    padding:4px 4px;
    border-radius: 15px;
    font-size:12px;
    position:relative;
    top:4px;
}
.head-text{
    font-weight: 500;
}
